<div class = "chat_header">
  <div class = "chatroom_overview">
    <div class = "overview_title">
      hogefuga
    </div>
  </div>
  <div class = "chatroom_end">
    <div class = "end_btn">
      <a href = "#" class = "end_link">
        チャットを終了する
      </a>
  </div>
  </div>
</div>
<div class = "chat_content">
  <div class = "content_index">
    <div class = "content_upper">
      <div class = "content_name">
        Tom
      </div>
      <div class = "content_date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class = "content_lower">
      <div class = "content_text">
        おはよう
      </div>
    </div>
  </div>
  <div class = "content_index">
    <div class = "content_upper">
      <div class = "content_name">
        Sim
      </div>
      <div class = "content_date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class = "content_lower">
      <div class = "content_text">
        おはよう
      </div>
    </div>
  </div>
</div>
<div class = "chat_form">
  <form class = "form_content">
    <div class = "form_input">
      <input type = "text" placeholder = "type a message" class = "message_form">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type = "submit" value = "送信" class = "send_btn">
  </form>
</div>