<div class = "side_header">
  <div class = "user_name">
    <!--テスト表示用の仮データ-->
    <a href = "#" class = "name_link">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </a>
  </div>
  <div class = "chat_btn">
    <a href = "#" class = "btn_link">
      チャットを作成する
    </a>
  </div>
</div>
<div class = "side_rooms">
  <div class = "room_names">
    <a href = "#" class = "room_link">
      techroom1
    </a>
  </div>
  <div class = "room_names">
    <a href = "#" class = "room_link">
      techroom2
    </a>
  </div>
</div>